h1 {
    text-align: center;
}

img {
    height: 300px;
    width: 200px;
    align-self: center;
    margin: auto;
}

div {
    text-align: center;
}
ul {
    align-content: center;
}

li {
    align-content: center;
}